/* ===== PAGE WRAPPER ===== */
.page {
  min-height: calc(100vh - 64px);
  padding: 80px 20px 40px;
  /* background: linear-gradient(135deg, #fff7f0, #ffe6cc); */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: wheat;
}

/* ===== TITLE ===== */
.page h1 {
  font-size: 36px;
  font-weight: 900;
  color: #ff7b00;
  margin-bottom: 20px;
}

/* ===== PARAGRAPHS ===== */
.page p {
  color: red;
  max-width: 800px;
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 18px;
}

/* HIGHLIGHT TEXT */
.page strong {
  color: #ff7b00;
}

.page b {
  color: #222;
  font-size: 19px;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .page h1 {
    font-size: 28px;
  }

  .page p {
    font-size: 16px;
  }
}
