.foodContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 110px;
  background: #f3f3f3;
}

.foodForm {
  width: 420px;
  background: #fff;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.foodForm h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.foodForm input,
.foodForm select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.foodForm button {
  margin-top: 10px;
  padding: 14px;
  font-size: 18px;
  font-weight: 700;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.foodForm button:hover {
  background: #3c39c7;
}

.pinBox {
  margin-top: 20px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.pinValue {
  font-size: 30px;
  font-weight: bold;
  color: #4c3ff4;
  margin: 10px 0;
  letter-spacing: 3px;
}

.pinInfo {
  font-size: 13px;
  color: #555;
}
