.otp-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-card {
  background: #fff;
  padding: 35px;
  width: 360px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  text-align: center;
}

.otp-card h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.otp-card input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 18px;
  margin-bottom: 15px;
}

.otp-card button {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.otp-msg {
  font-size: 18px;
  margin-top: 15px;
  font-weight: bold;
}
