.trips-container {
  padding: 40px;
  text-align: center;
  background: #f2f2f7;
  min-height: 100vh;
}

.page-title {
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 30px;
}

.noTrips {
  font-size: 20px;
  opacity: 0.7;
}

.trips-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  padding: 20px;
}

.trip-card {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.trip-card:hover {
  transform: translateY(-5px);
}

.trip-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.trip-details {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}

.trip-details p {
  margin: 8px 0;
}

hr {
  margin: 15px 0;
  opacity: 0.3;
}

.trip-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.pickBtn {
  padding: 10px 18px;
  background: #4f46e5;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.rejectBtn {
  padding: 10px 18px;
  background: #ff3b3b;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.pickedBtn {
  padding: 12px 20px;
  background: gray;
  color: white;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-weight: 700;
  cursor: not-allowed;
}
