/* Entire App Wrapper */
.pageWrapper {
  width: 100%;
  min-height: 100vh;
  background: #f3f3f3;
  font-family: "Arial", sans-serif;
}

/* Main content below fixed header */
.mainContent {
  margin-top: 0px; /* space for fixed header */
  width: 100%;
  min-height: calc(100vh - 80px);
}
